[Unit]
Description=Monitor MPD with Blink Daemon
Wants=blinkd.target
#Before=networking.service
#Before=local-fs-pre.target

[Service]
User=root
Group=root
Type=simple
RemainAfterExit=true
WorkingDirectory=/home/pi/blinkd
ExecStart=/bin/bash /home/pi/blinkd/start-mpd-monitor.sh

[Install]
WantedBy=multi-user.target
